Repository OMZigak/KKUM_ANDROID, pull requests merged in 2024-07, with the labels that each got.

#6 [Feat/#5] color system setting
  README.md
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/themes.xml
Labels: 👽 효은, 🌻 XML

#9 [FEAT/#4] Jetpack Navigation 구현
  feature/build.gradle.kts
  feature/src/main/java/com/teamkkumul/feature/MainActivity.kt
  feature/src/main/java/com/teamkkumul/feature/ReqresAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamkkumul/feature/viewholder/ReqresViewHolder.kt
  feature/src/main/res/drawable/ic_home.xml
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_home_detail.xml
  feature/src/main/res/layout/fragment_my_group.xml
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/menu/menu_home.xml
  feature/src/main/res/navigation/nav_graph.xml
Labels: ⭐ [FEAT], 🐻‍❄️ 윤서, 🌻 XML

#11 [Feat/#7]font setting
  feature/src/main/res/font/pretendard_black.otf
  feature/src/main/res/font/pretendard_bold.otf
  feature/src/main/res/font/pretendard_extrabold.otf
  feature/src/main/res/font/pretendard_extralight.otf
  feature/src/main/res/font/pretendard_light.otf
  feature/src/main/res/font/pretendard_medium.otf
  feature/src/main/res/font/pretendard_regular.otf
  feature/src/main/res/font/pretendard_semibold.otf
  feature/src/main/res/font/pretendard_thin.otf
  feature/src/main/res/values/text_appearance.xml
  feature/src/main/res/values/themes.xml
Labels: 👽 효은, 🌻 XML

#15 [Feat/#14] 아이콘 추가
  feature/src/main/res/drawable/ic_back_black_24.xml
  feature/src/main/res/drawable/ic_camera_gray_28.xml
  feature/src/main/res/drawable/ic_check_green_24.xml
  feature/src/main/res/drawable/ic_date_gray_24.xml
  feature/src/main/res/drawable/ic_delete_black_24.xml
  feature/src/main/res/drawable/ic_delete_gray_24.xml
  feature/src/main/res/drawable/ic_group_plus_black_24.xml
  feature/src/main/res/drawable/ic_home_gray_24.xml
  feature/src/main/res/drawable/ic_my_gray_24.xml
  feature/src/main/res/drawable/ic_my_group_gray_24.xml
  feature/src/main/res/drawable/ic_penalty_green_24.xml
  feature/src/main/res/drawable/ic_pin_gray_24.xml
  feature/src/main/res/drawable/ic_plus_black_24.xml
  feature/src/main/res/drawable/ic_plus_white_24.xml
  feature/src/main/res/drawable/ic_profile_basic_44.png
  feature/src/main/res/drawable/ic_right_black_24.xml
  feature/src/main/res/drawable/ic_search_gray_24.xml
  feature/src/main/res/drawable/ic_time_gray_24.xml
Labels: 👽 효은, 🌻 XML

#13 [Feat/#10] compose setting
  app/build.gradle.kts
  app/src/main/java/com/teamkkumul/kkumul/KkumulApp.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/component/Row.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Color.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Theme.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Type.kt
  feature/build.gradle.kts
  feature/src/main/java/com/teamkkumul/feature/compose/ExampleComposeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/compose/ExampleComposeViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/compose/ExampleRoute.kt
  feature/src/main/java/com/teamkkumul/feature/compose/model/ExampleSideEffect.kt
  feature/src/main/java/com/teamkkumul/feature/compose/model/ExampleState.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/res/layout/fragment_example_compose.xml
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/navigation/nav_graph.xml
  gradle/libs.versions.toml
Labels: ➕ [ADD], 🐶 찬우, 💡 COMPOSE

#20 [FEAT/#16] 컴포즈 design system - 폰트, 컬러 시스템 추가
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Color.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Theme.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Type.kt
  core/designsystem/src/main/res/font/pretendard_bold.otf
  core/designsystem/src/main/res/font/pretendard_medium.otf
  core/designsystem/src/main/res/font/pretendard_regular.otf
  core/designsystem/src/main/res/font/pretendard_semibold.otf
Labels: 🐻‍❄️ 윤서, 💡 COMPOSE

#17 [Feat/#8] datastore 모듈 구현
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/UserInfoRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/ReqresRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/UserInfoRepositoryImpl.kt
  core/datastore/build.gradle.kts
  core/datastore/src/main/java/com/teamkkumul/core/datastore/datasource/DefaultKumulPreferenceDatasource.kt
  core/datastore/src/main/java/com/teamkkumul/core/datastore/datasource/KumulPreferencesDataSource.kt
  core/datastore/src/main/java/com/teamkkumul/core/datastore/di/DataStoreModule.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageViewModel.kt
  feature/src/main/res/layout/fragment_my_page.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], ➕ [ADD], 🐶 찬우

#23 [FEAT/#22] Bottom Navigation View 디자인 적용
  feature/src/main/res/color/selector_color.xml
  feature/src/main/res/drawable/ic_home_gray_24.xml
  feature/src/main/res/drawable/ic_my_gray_24.xml
  feature/src/main/res/drawable/ic_my_group_gray_24.xml
  feature/src/main/res/drawable/ic_my_page_gray_24.xml
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/menu/menu_home.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💚 [UI], 🐻‍❄️ 윤서, 🌻 XML

#21 [Feat/#19] app bar 기능 구현
  feature/src/main/res/layout/fragment_my_group.xml
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/layout/view_toolbar.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💚 [UI], 👽 효은, 🌻 XML

#26 [Feat/#18] kakao login + 임시 자동 로그인
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/teamkkumul/kkumul/KkumulApp.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Color.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Theme.kt
  core/model/build.gradle.kts
  core/ui/build.gradle.kts
  feature/build.gradle.kts
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/auth/LoginActivity.kt
  feature/src/main/java/com/teamkkumul/feature/auth/LoginScreen.kt
  feature/src/main/java/com/teamkkumul/feature/auth/LoginViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/auth/model/KakaoLoginState.kt
  feature/src/main/java/com/teamkkumul/feature/auth/model/LoginSideEffect.kt
  feature/src/main/res/drawable/ic_kakao_black_24.xml
  feature/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ⭐ [FEAT], 🐶 찬우, 💡 COMPOSE

#29 Hotfix/#28 color add
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Color.kt
  feature/src/main/res/drawable/shape_gray0_rect_top_18.xml
  feature/src/main/res/values/colors.xml
Labels: 😮 [HOTFIX], 👽 효은

#31 [HOTFIX/#30] : 카카오 계정으로 로그인 오류 수정
  app/build.gradle.kts
Labels: 😮 [HOTFIX], 🐶 찬우

#36 [Feat/#25] group detail page
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MyGroupMapper.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupFriendModel.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupMeetUpModel.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupSealedItem.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupFriendDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupMeetUpDto.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFriendViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpItemDecoration.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupMeetUpViewHolder.kt
  feature/src/main/res/drawable/ic_kkumul.xml
  feature/src/main/res/drawable/ic_my_group_floating_btn.png
  feature/src/main/res/drawable/ic_my_group_friend_plus.xml
  feature/src/main/res/layout/fragment_my_group.xml
  feature/src/main/res/layout/item_my_group_friend.xml
  feature/src/main/res/layout/item_my_group_friend_plus.xml
  feature/src/main/res/layout/item_my_group_remain_meet_up.xml
  feature/src/main/res/layout/view_my_group_meet_up_empty.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💚 [UI], 👽 효은, 🌻 XML

#34 [FEAT/#24] 프로필 설정 화면 구현
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameFragment.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetProfileFragment.kt
  feature/src/main/java/com/teamkkumul/feature/signup/WelcomeFragment.kt
  feature/src/main/res/color/sel_btn_et_color_stroke.xml
  feature/src/main/res/color/sel_color.xml
  feature/src/main/res/drawable/ic_profile_gray_underline.xml
  feature/src/main/res/drawable/sel_btn.xml
  feature/src/main/res/drawable/shape_gray_fill_8_rect.xml
  feature/src/main/res/drawable/shape_gray_line_8_rect.xml
  feature/src/main/res/drawable/shape_green_fill_8_rect.xml
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/layout/fragment_set_name.xml
  feature/src/main/res/layout/fragment_set_profile.xml
  feature/src/main/res/layout/fragment_welcome.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💚 [UI], 🐻‍❄️ 윤서, 🌻 XML

#38 [Feat/#36] 내 모임 약속 상세 페이지
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailFriendModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpSealedItem.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpDetailFriendViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpDetailListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/viewholder/MeetUpDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/viewholder/MeetUpDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupDetailListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFriendViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpItemDecoration.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupDetailMeetUpViewHolder.kt
  feature/src/main/res/layout/fragment_meet_up_detail.xml
  feature/src/main/res/layout/fragment_my_group.xml
  feature/src/main/res/layout/fragment_my_group_detail.xml
  feature/src/main/res/layout/item_my_group_friend.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💚 [UI], 👽 효은, 🌻 XML

#42 [Feat/#39] MyGroup 페이지 구현
  core/model/src/main/java/com/teamkkumul/model/MyGroupModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMeetUpListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupViewHolder.kt
  feature/src/main/res/drawable/ic_my_group_plus_green_24.xml
  feature/src/main/res/layout/fragment_meet_up_detail.xml
  feature/src/main/res/layout/fragment_my_group.xml
  feature/src/main/res/layout/fragment_my_group_detail.xml
  feature/src/main/res/layout/item_my_group.xml
  feature/src/main/res/layout/view_my_group_empty.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💚 [UI], 👽 효은, 🌻 XML

#45 [Feat/#41] meet up 탭바 + 컨플릭 해결
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpContainerFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpDetailVpAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFriendViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailListAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/viewholder/MeetUpDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/viewholder/MeetUpDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/ReadyStatusFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMockViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/adapter/MyGroupDetailFriendAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/adapter/MyGroupDetailMeetUpAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailMeetUpViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/utils/itemdecorator/MeetUpFriendItemDecoration.kt
  feature/src/main/res/drawable/sel_tab_indicator.xml
  feature/src/main/res/drawable/shape_tab_indicator_selected.xml
  feature/src/main/res/drawable/shape_tab_indicator_unselected.xml
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_late_person.xml
  feature/src/main/res/layout/fragment_meet_up_container.xml
  feature/src/main/res/layout/fragment_meet_up_info.xml
  feature/src/main/res/layout/fragment_my_group_detail.xml
  feature/src/main/res/layout/fragment_ready_status.xml
  feature/src/main/res/layout/item_my_group_remain_meet_up.xml
  feature/src/main/res/layout/view_my_group_meet_up_empty.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐶 찬우, 🌻 XML

#44 [FEAT/#35] 내 모임 추가하기 화면 구현, Multi Activity 로직으로 수정
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/auth/LoginScreen.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addmygroup/AddMyGroupCompleteFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addmygroup/AddMyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/DialogInvitationCodeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/GroupNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/EnterInvitationCodeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/InvitationCodeViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetProfileActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/WelcomeActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/WelcomeFragment.kt
  feature/src/main/res/drawable/ic_add_my_group_complete_character.xml
  feature/src/main/res/drawable/ic_welcome_character.xml
  feature/src/main/res/drawable/shape_gray3_fill_bl_8_rect.xml
  feature/src/main/res/drawable/shape_gray7_fill_br_8_rect.xml
  feature/src/main/res/layout/activity_set_name.xml
  feature/src/main/res/layout/activity_set_profile.xml
  feature/src/main/res/layout/activity_welcome.xml
  feature/src/main/res/layout/fragment_add_my_group.xml
  feature/src/main/res/layout/fragment_add_my_group_complete.xml
  feature/src/main/res/layout/fragment_add_new_group.xml
  feature/src/main/res/layout/fragment_dialog_invitation_code.xml
  feature/src/main/res/layout/fragment_enter_invitation_code.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/text_appearance.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💚 [UI], ♻️ [REFACTOR], 🐻‍❄️ 윤서, 🌻 XML

#49 [FEAT/#48] Splash Activity 구현
  build.gradle.kts
  feature/build.gradle.kts
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/MainActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameActivity.kt
  feature/src/main/java/com/teamkkumul/feature/splash/SplashActivity.kt
  feature/src/main/res/drawable/ic_splash_kkumul.xml
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/layout/activity_splash.xml
  feature/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💚 [UI], 🐻‍❄️ 윤서, 🌻 XML

#57 [Feat/#43] 약속 추가 화면 구현
  core/model/src/main/java/com/teamkkumul/model/MeetUpCreateLocationModel.kt
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendItemDecoration.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupMockViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/adapter/MyGroupAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/viewholder/MyGroupViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/utils/AnimateProgressBarCommon.kt
  feature/src/main/java/com/teamkkumul/feature/utils/itemdecorator/GridSpacingItemDecoration.kt
  feature/src/main/res/color/sel_color.xml
  feature/src/main/res/drawable/ic_date_fill_24.xml
  feature/src/main/res/drawable/ic_my_group_empty.xml
  feature/src/main/res/drawable/ic_search_gray_24.xml
  feature/src/main/res/drawable/ic_time_fill_24.xml
  feature/src/main/res/drawable/pb_meet_up_create.xml
  feature/src/main/res/drawable/sel_rv_main_selected_item.xml
  feature/src/main/res/drawable/shape_fill_8_rect.xml
  feature/src/main/res/drawable/shape_gray3_radius_4.xml
  feature/src/main/res/drawable/shape_green1_fill_8_rect.xml
  feature/src/main/res/drawable/shape_green_line_8_rect.xml
  feature/src/main/res/layout/fragment_meet_up_create.xml
  feature/src/main/res/layout/fragment_meet_up_create_location.xml
  feature/src/main/res/layout/fragment_meet_up_detail.xml
  feature/src/main/res/layout/fragment_meet_up_friend_plus.xml
  feature/src/main/res/layout/fragment_my_group_detail.xml
  feature/src/main/res/layout/item_meet_up_create_friend.xml
  feature/src/main/res/layout/item_meet_up_create_location.xml
  feature/src/main/res/layout/item_my_group.xml
  feature/src/main/res/layout/item_my_group_friend.xml
  feature/src/main/res/layout/item_my_group_remain_meet_up.xml
  feature/src/main/res/layout/view_my_group_empty.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💚 [UI], 👽 효은, 🌻 XML

#61 [FEAT/#56] 지각 꾸물이 화면 구현, 약속 추가하기 부분 플로우 연결
  core/model/src/main/java/com/teamkkumul/model/LatePerson.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/AddMeetUpCompleteFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateCompleteFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/meetuplevel/MeetUpLevelFragment.kt
  feature/src/main/res/drawable/ic_late_person_waiting.png
  feature/src/main/res/drawable/ic_no_late_person.xml
  feature/src/main/res/drawable/ic_penalty_icon.xml
  feature/src/main/res/layout/fragment_late_person.xml
  feature/src/main/res/layout/fragment_meet_up_create_complete.xml
  feature/src/main/res/layout/fragment_meet_up_level.xml
  feature/src/main/res/layout/view_late_person_empty.xml
  feature/src/main/res/layout/view_waiting_empty.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💚 [UI], 🐻‍❄️ 윤서, 🌻 XML

#59 [Feat/#55] 토큰인터셉터, fcm기초 세팅
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/teamkkumul/kkumul/KkumulFirebaseMessagingService.kt
  build.gradle.kts
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/LoginMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/LoginRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/UserInfoRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/LoginRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/UserInfoRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/utils/getErrorMessage.kt
  core/datastore/src/main/java/com/teamkkumul/core/datastore/datasource/DefaultKumulPreferenceDatasource.kt
  core/datastore/src/main/java/com/teamkkumul/core/datastore/datasource/KumulPreferencesDataSource.kt
  core/designsystem/src/main/java/com/teamkkumul/core/designsystem/theme/Color.kt
  core/model/src/main/java/com/teamkkumul/model/login/LoginModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/LoginService.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/Qualifier.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/RetrofitModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestLoginDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/BaseResponse.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseLoginDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseReissueTokenDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/interceptor/TokenInterceptor.kt
  feature/build.gradle.kts
  feature/src/main/java/com/teamkkumul/feature/auth/LoginScreen.kt
  feature/src/main/java/com/teamkkumul/feature/auth/LoginViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/auth/model/LoginSideEffect.kt
  feature/src/main/java/com/teamkkumul/feature/splash/SplashActivity.kt
  feature/src/main/java/com/teamkkumul/feature/splash/SplashViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/splash/model/AutoLoginState.kt
  feature/src/main/java/com/teamkkumul/feature/utils/KeyStorage.kt
  feature/src/main/res/drawable/img_login.png
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐶 찬우

#66 [Feat/#65] mulitpart setting
  app/src/main/java/com/teamkkumul/kkumul/KkumulApp.kt
  app/src/main/java/com/teamkkumul/kkumul/KkumulFirebaseMessagingService.kt
  core/data/src/main/java/com/teamkkumul/core/data/utils/ContentUriRequestBody.kt
  core/data/src/main/java/com/teamkkumul/core/data/utils/createImagePart.kt
  feature/src/main/res/drawable/ic_home_bar_green.xml
  feature/src/main/res/drawable/ic_home_fence_white.xml
  feature/src/main/res/drawable/ic_home_rect_green.xml
Labels: ⭐ [FEAT], 🐶 찬우

#68 [Feat/#63]home api
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/HomeMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/HomeRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/utils/getErrorMessage.kt
  core/model/src/main/java/com/teamkkumul/model/HomeTodayMeetingModel.kt
  core/model/src/main/java/com/teamkkumul/model/home/UserModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/HomeService.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/BaseResponse.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseTodayMeetingDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseUserDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/interceptor/TokenInterceptor.kt
  feature/build.gradle.kts
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeViewModel.kt
  feature/src/main/res/drawable/ic_home_empty.xml
  feature/src/main/res/drawable/ic_home_lv_1.png
  feature/src/main/res/drawable/ic_home_lv_2.png
  feature/src/main/res/drawable/ic_home_lv_3.png
  feature/src/main/res/drawable/ic_home_lv_4.png
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/view_home_today_meeting_empty.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/text_appearance.xml
Labels: ⭐ [FEAT], 💚 [UI], 🐶 찬우

#67 [FEAT/#51] 모임 생성, 가입 서버 통신 구현
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetingsRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetingsRepositoryImpl.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetingsService.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/util/KeyStorage.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestAddNewGroupDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestEnterInvitationCodeDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseAddNewGroupDto.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/DialogInvitationCodeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/GroupNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/EnterInvitationCodeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/InvitationCodeViewModel.kt
  feature/src/main/res/drawable/ic_enter_invitation_code_check_green_24.xml
  feature/src/main/res/layout/activity_set_profile.xml
  feature/src/main/res/layout/fragment_enter_invitation_code.xml
  feature/src/main/res/navigation/nav_graph.xml
Labels: ⭐ [FEAT], 🐻‍❄️ 윤서, 서버통신

#73 Feat/#58 meet up detail api
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MeetUpMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MyGroupMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetUpRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MyGroupRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetUpRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MyGroupRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpParticipantModel.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupDetailSealedItem.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupFriendModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetUpService.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MyGroupService.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMeetUpDetailDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMeetUpParticipantDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFriendViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/adapter/MyGroupDetailFriendAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendViewHolder.kt
Labels: ⭐ [FEAT], 👽 효은, 서버통신

#71 [Feat/#69] home 다가올 약속 api 통신
  core/data/src/main/java/com/teamkkumul/core/data/mapper/HomeMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/HomeRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/LoginRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/home/HomeTodayMeetingModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/HomeService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseHomeUpComingMeetingDto.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeMeetUpAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/home/viewholder/HomeMeetUpViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpContainerFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/MeetUpContainerVpAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailMeetUpViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/utils/KeyStorage.kt
  feature/src/main/res/layout/item_my_group_remain_meet_up.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐶 찬우, 🌻 XML

#74 [FEAT/#62] 프로필 설정 서버 통신
  core/data/src/main/java/com/teamkkumul/core/data/di/ContentResolverModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/ProfileRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/ProfileRepositoryImpl.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/ProfileService.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/util/KeyStorage.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestSetNameDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseSetNameDto.kt
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetProfileActivity.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetProfileViewModel.kt
Labels: ⭐ [FEAT], 🐻‍❄️ 윤서, 서버통신

#75 [Feat/#64] my group detail api
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MyGroupMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MyGroupRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MyGroupRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailFriendModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpParticipantModel.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpSealedItem.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupDetailMemeberSealedItem.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupDetailSealedItem.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupInfoModel.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupMeetUpModel.kt
  core/model/src/main/java/com/teamkkumul/model/MyGroupMemberModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MyGroupService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMeetUpParticipantDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupInfoDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupMeetUpDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMyGroupMemberDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/MeetUpDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/adapter/MyGroupDetailFriendAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/adapter/MyGroupDetailMeetUpAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendPlusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailMeetUpViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/utils/KeyStorage.kt
  feature/src/main/res/layout/fragment_meet_up_detail.xml
  feature/src/main/res/layout/fragment_my_group_detail.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 👽 효은, 서버통신

#77 [Feat/#72] home ready status
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/HomeMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/HomeRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/home/HomeReadyStatusModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/HomeService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseHomeReadyStatusDto.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/utils/model/BtnState.kt
Labels: ⭐ [FEAT], 🐶 찬우, 🌻 XML

#79 [FEAT/#70] 약속 지각 상세 조회 서버 통신, 지각 꾸물이 화면 UI 수정
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MeetUpMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetUpRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetUpRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/LatePerson.kt
  core/model/src/main/java/com/teamkkumul/model/LatePersonModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetUpService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseLatePersonDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/DialogInvitationCodeFragment.kt
  feature/src/main/res/layout/fragment_late_person.xml
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💚 [UI], 🐻‍❄️ 윤서, 🌻 XML, 서버통신

#82 [Feat/#78] 준비 현황 화면 api통신
  core/data/src/main/java/com/teamkkumul/core/data/mapper/HomeMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/HomeRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/home/HomeMembersStatus.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/HomeService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseHomeMembersReadyStatus.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/viewholder/ReadyStatusViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/utils/BindingAdapter.kt
  feature/src/main/res/drawable/shape_fill_green2_20.xml
  feature/src/main/res/drawable/shape_fill_main_green_20.xml
  feature/src/main/res/drawable/shape_stroke_gray3_fill_white_20.xml
  feature/src/main/res/drawable/shape_stroke_green_fill_white_20.xml
  feature/src/main/res/layout/item_ready_status.xml
Labels: ⭐ [FEAT], 🐶 찬우, 🌻 XML

#84 [Feat/#76] meet up create loaction 서버 통신
  core/data/src/main/java/com/teamkkumul/core/data/di/DataModule.kt
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MeetUpCreateMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetUpCreateLocationRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetUpCreateLocationRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpCreateLocationModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetUpCreateService.kt
  core/network/src/main/java/com/teamkkumul/core/network/di/ApiModule.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMeetUpCreateLocationDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationViewHolder.kt
  feature/src/main/res/layout/fragment_meet_up_create_location.xml
Labels: ⭐ [FEAT], 👽 효은, 서버통신

#86 [Feat/#85] meet up create friend 서버통신
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MyGroupMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MyGroupRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MyGroupRepositoryImpl.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/meetupdetail/viewholder/MeetUpDetailFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendAdapter.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendViewHolder.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/meetuplevel/MeetUpLevelFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/viewholder/MyGroupDetailFriendViewHolder.kt
  feature/src/main/res/drawable/ic_profile_empty.png
  feature/src/main/res/layout/item_meet_up_create_friend.xml
  feature/src/main/res/layout/item_my_group_friend.xml
  feature/src/main/res/layout/item_ready_status.xml
Labels: ⭐ [FEAT], 👽 효은, 서버통신

#90 [Feat/#87] my page
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageViewModel.kt
  feature/src/main/res/drawable/ic_my_page_edit.xml
  feature/src/main/res/drawable/ic_my_page_profile.xml
  feature/src/main/res/drawable/sel_switch_thumb.xml
  feature/src/main/res/drawable/sel_switch_track.xml
  feature/src/main/res/drawable/shape_maincolor_fill_40_rect.xml
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 👽 효은, 🌻 XML, 서버통신

#91 [Feat/#83] 준비 정보 입력 화면
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MeetUpMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/HomeRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/model/src/main/java/com/teamkkumul/model/MeetUpDetailModel.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/HomeService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestReadyInfoInputDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseMeetUpDetailDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/interceptor/TokenInterceptor.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/complete/ReadyInputCompletedFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/ReadyInfoInputFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/ReadyInfoInputViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readystatus/ReadyStatusFragment.kt
  feature/src/main/java/com/teamkkumul/feature/utils/KeyStorage.kt
  feature/src/main/java/com/teamkkumul/feature/utils/getCurrentTime.kt
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_ready_status.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐶 찬우, 🌻 XML

#93 [Feat/#92] auto login nickname
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/MyGroupViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/signup/SetNameViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/splash/SplashViewModel.kt
  feature/src/main/res/layout/fragment_my_page.xml
Labels: ⭐ [FEAT], 🐶 찬우

#97 [Feat/#96] app icon 및 app 이름 설정
  feature/src/main/res/mipmap-anydpi/ic_launcher.xml
  feature/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  feature/src/main/res/mipmap-hdpi/ic_launcher.webp
  feature/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  feature/src/main/res/mipmap-mdpi/ic_launcher.webp
  feature/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  feature/src/main/res/mipmap-xhdpi/ic_launcher.webp
  feature/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  feature/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  feature/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  feature/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  feature/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  feature/src/main/res/values/ic_launcher_background.xml
  feature/src/main/res/values/strings.xml
Labels: 👽 효은, 🌻 XML

#99 [HOTFIX/#98] Query 파라미터 추가
  core/network/src/main/java/com/teamkkumul/core/network/api/MyGroupService.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/location/MeetUpCreateLocationFragment.kt
Labels: 😮 [HOTFIX]

#81 [FEAT/#80] 약속 완료 서버 통신
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetUpRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetUpRepositoryImpl.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetUpService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseAddNewGroupDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonViewModel.kt
Labels: ⭐ [FEAT], 🐻‍❄️ 윤서, 서버통신

#95 [FEAT/#89] 모임 가입 서버 통신 수정, 지각 꾸물이 empty view 수정
  core/data/src/main/java/com/teamkkumul/core/data/repository/MeetingsRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetingsRepositoryImpl.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetUpCreateService.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MeetingsService.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/request/RequestMeetUpCreateDto.kt
  core/network/src/main/java/com/teamkkumul/core/network/dto/response/ResponseEnterInvitationCodeDto.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/lateperson/LatePersonFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateCompleteFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/MeetUpCreateFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/friend/MeetUpCreateFriendFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/meetuplevel/MeetUpLevelFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/EnterInvitationCodeFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/enterinvitationcode/InvitationCodeViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/utils/KeyStorage.kt
  feature/src/main/res/layout/fragment_late_person.xml
  feature/src/main/res/layout/view_waiting_empty.xml
Labels: ⭐ [FEAT], 🐻‍❄️ 윤서, 서버통신

#100 [Hotfix/#94] local ararm
  app/src/main/java/com/teamkkumul/kkumul/KkumulFirebaseMessagingService.kt
  feature/src/main/java/com/teamkkumul/feature/MainActivity.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/ReadyInfoInputFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/ReadyInfoInputViewModel.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/alarm/AlarmReceiver.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addmygroup/AddMyGroupCompleteFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/AddNewGroupFragment.kt
  feature/src/main/java/com/teamkkumul/feature/newgroup/addnewgroup/DialogInvitationCodeFragment.kt
  feature/src/main/res/drawable/img_kum_logo.png
  feature/src/main/res/drawable/img_text_popup.png
  feature/src/main/res/navigation/nav_graph.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 😮 [HOTFIX]

#106 Hotfix/#105 modify my group api
  core/data/src/main/java/com/teamkkumul/core/data/mapper/MyGroupMapper.kt
  core/data/src/main/java/com/teamkkumul/core/data/repository/MyGroupRepository.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MyGroupRepositoryImpl.kt
  core/network/src/main/java/com/teamkkumul/core/network/api/MyGroupService.kt
  feature/src/main/java/com/teamkkumul/feature/mygroup/mygroupdetail/MyGroupDetailFragment.kt
Labels: ♻️ [REFACTOR], 👽 효은, 서버통신

#109 [Fix/#108] error handling 로직 수정, reissue 에러 수정
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/HomeRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/LoginRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/repositoryimpl/MeetUpCreateLocationRepositoryImpl.kt
  core/data/src/main/java/com/teamkkumul/core/data/utils/getErrorMessage.kt
  core/network/src/main/java/com/teamkkumul/core/network/interceptor/TokenInterceptor.kt
  feature/src/main/java/com/teamkkumul/feature/meetup/readystatus/readyinfoinput/ReadyInfoInputFragment.kt
  feature/src/main/java/com/teamkkumul/feature/meetupcreate/meetuplevel/MeetUpLevelFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamkkumul/feature/mypage/MyPageViewModel.kt
Labels: 🔧 [FIX], 🐶 찬우
